<div class="page-header">
    <h1>
        GBFM
        <%= gbfm.Title %>
    </h1>
</div>

<ul class="list-unstyled list-inline">
    <li>
        <a href="/admin/gbfms" class="btn btn-info">Back to all GBFMs</a>
    </li>
    <li>
        <a href="/admin/gbfms/<%= gbfm.ID %>" class="btn btn-warning">Edit</a>
    </li>
    <li>
        <a href="/admin/gbfms/<%= gbfm.ID %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
    <strong>Title</strong>:
    <%= gbfm.Title %>
</p>
<p>
    <strong>Description</strong>:
    <%= gbfm.Description %>
</p>
<p>
    <strong>Embed Code</strong>:
    <%= gbfm.EmbedCode %>
</p>
<p>
    <strong>Slug</strong>:
    <%= gbfm.Slug %>
</p>
