        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="/" >
                    <strong>Go </strong><strong class="blue-text">Beyond</strong><strong> Five Minutes</strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/episodes" >Episodes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/series" >Series</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/guides" >Guides</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="/authors" >Instructors</a>
                        </li>
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="https://twitter.com/gophersnacks" class="nav-link waves-effect" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/signin" class="nav-link btn btn-primary btn-md waves-effect">
                                Sign In<i class="fa fa-arrow-right ml-2"></i>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->
