<html>
<head>
</head>
<body>
    <ul>
        <li><a href="/admin/authors">Authors</a></li>
        <li><a href="/admin/episodes">Episodes</a></li>
        <li><a href="/admin/guides">Guides</a></li>
        <li><a href="/admin/images">Images</a></li>
        <li><a href="/admin/series">Series</a></li>
        <li><a href="/admin/snacks">Snacks</a></li>
    </ul>
    <div>
        This is where you should yield
    </div>
</body>
</html>
