
 <!--Section: Jumbotron-->
            <section class="card gradient-custom wow fadeIn">

                <!-- Content -->
                <div class="card-body text-white text-center py-5 px-5 my-5">

                    <h1 class="mb-4">
                        <strong>Episodes</strong>
                    </h1>
                    <p>
                        <strong>Single video classes on a variety of topics.</strong>
                    </p>
                    <!-- <a target="_blank" href="https://mdbootstrap.com/bootstrap-tutorial/" class="btn btn-outline-white btn-lg">Start free tutorial
                        <i class="fa fa-graduation-cap ml-2"></i>
                    </a> // add CTA here later -->

                </div>
                <!-- Content -->
            </section>
            <!--Section: Jumbotron-->

            <!--Section: Cards-->
            <section class="pt-5">

                <%= partial("episodes/card.html") %>



            </section>
            <!--Section: Cards-->
