   <!--Section: Post-->
            <section class="mt-4">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-8 mb-4">

                        <!--Featured Image-->
                        <div class="card mb-4 wow fadeIn">
                            <!-- embed code is going here -->

                            <%= raw(episode.EmbedCode) %>

                        </div>
                        <!--/.Featured Image-->

                        <!--Card-->
                        <div class="card mb-4 wow fadeIn">

                            <!--Card content-->
                            <div class="card-body">

                                <%= markdown(episode.Body)%>
                            </div>

                        </div>
                        <!--/.Card-->

                            <%= partial("partials/authorwide.html") %>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-4">

                        <!--Card: Jumbotron-->
                        <div class="card gradient-custom mb-4 wow fadeIn">

                            <!-- Content -->
                            <div class="card-body text-white text-center">

                                <h4 class="mb-4">
                                    <strong><%= episode.Title %></strong>
                                </h4>

                            <div class="card-body text-white text-left">
                                <%= markdown(episode.Description) %>
                            </div>
                                <a target="_blank" href="<%= episode.Repo %>" class="btn btn-outline-white btn-md">Download Source Code
                                    <i class="fa fa-github ml-2"></i>
                                </a>

                            </div>
                            <!-- Content -->
                        </div>
                        <!--Card: Jumbotron-->

                        <!--Card : Dynamic content wrapper-->
                        
                        <%= partial("partials/subscribe.html") %>


                        

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Post-->

