<%= f.InputTag("Slug") %>
    <%= f.InputTag("Title") %>
        <%= f.CheckboxTag("Sponsored", {unchecked: true}) %>
            <%= f.InputTag("URL") %>
                <%= f.InputTag("Summary") %>
                    <%= f.InputTag("Comment") %>
                        <%= f.InputTag("EmbedCode") %>
                            <%= f.SelectTag("Topics") %>
                                <%= f.SelectTag("Authors") %>
                                    <button class="btn btn-success" role="submit">Save</button>
