<%= f.InputTag("Slug") %>
    <%= f.InputTag("Title") %>
        <%= f.CheckboxTag("Sponsored", {unchecked: true}) %>
            <%= f.InputTag("URL") %>
                <%= f.InputTag("Summary") %>
                    <%= f.InputTag("Comment") %>
                        <%= f.InputTag("EmbedCode") %>
                            <%= partial("admin/topics/selecter.html") %>
                                <%= partial("admin/authors/selecter.html") %>
                                    <button class="btn btn-success" role="submit">Save</button>
