<div class="container-fluid">
    <div class="row justify-content-center">
        TODO: subscribe form goes here
    </div>
</div>
<hr>
<div class="container-fluid">
    <%= for (snack) in snacks { %>
    <div class="row">
        <div class="offset-sm-2">
            <strong>
                <a href="/snack/<%= snack.Slug %>" target="_blank">
                    <%= snack.Title %>
                </a>
            </strong>
            <p>
                <%= snack.Summary %>
                <small><i>
                    <a href="/snack/<%= snack.Slug %>">read more</a>
                </i></small>
            </p>
            <div>
                <%= for (topic) in snack.Topics { %>
                <small><%= topic %></small>
                <% } %>
            </div>
        </div>
    </div>
    <hr>
    <% } %>
</div>
